Importing pandas and getting the wikipedia page.

In [63]:
import pandas as pd

from IPython.display import IFrame
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
IFrame(url, width=800, height=350)

Transforming the above data in pandas dataframe.

In [64]:
data, = pd.read_html(url, match="Postal code", skiprows=1)
data.columns = ["Postal Code", "Borough", "Neighborhood"]
data.head()

  Postal Code           Borough                       Neighborhood
0         M2A      Not assigned                                NaN
1         M3A        North York                          Parkwoods
2         M4A        North York                   Victoria Village
3         M5A  Downtown Toronto         Regent Park / Harbourfront
4         M6A        North York  Lawrence Manor / Lawrence Heights

Ignoring the "Not assigned" cell and printing the first 5 cells of the dataset.

In [69]:
data = data[data["Borough"] != "Not assigned"]
data.head()

  Postal Code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

Displaying various neighbourhood for the same postal code

In [70]:
borough_func = lambda s: s.iloc[0]
neighborhood_func = lambda s: ", ".join(s)
agg_funcs = {"Borough": borough_func, "Neighborhood": neighborhood_func}
data_temp = data.groupby(by="Postal Code").aggregate(agg_funcs)
data_temp.head()

                 Borough                              Neighborhood
Postal Code
M1B          Scarborough                           Malvern / Rouge
M1C          Scarborough  Rouge Hill / Port Union / Highland Creek
M1E          Scarborough       Guildwood / Morningside / West Hill
M1G          Scarborough                                    Woburn
M1H          Scarborough                                 Cedarbrae

In [71]:
data = data_temp.reset_index()[data.columns]
data.head()

  Postal Code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

Using shape to display rows and columns.

In [75]:
data.shape

(103, 3)

Reading Geospatial data .

In [76]:
locations = pd.read_csv("https://cocl.us/Geospatial_data")
locations.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Merging the 2 tables.

In [79]:
locations.columns = ["Postal Code", "Latitude", "Longitude"]
data2 = pd.merge(data, locations, on='Postal Code')
data2.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Postal code of M5G

In [81]:
data2[data2["Postal Code"] == "M5G"]

   Postal Code           Borough        Neighborhood   Latitude  Longitude
57         M5G  Downtown Toronto  Central Bay Street  43.657952 -79.387383

Postal code of M5A

In [82]:
data2[data2["Postal Code"] == "M5A"]

,Postal Code,Borough,Neighborhood,Latitude,Longitude
53,M5A,Downtown Toronto,Regent Park / Harbourfront,43.65426,-79.360636

Displaying data containing "Toronto"

In [83]:
subset = data2[data2['Borough'].str.contains("Toronto")]
subset.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
37,M4E,East Toronto,The Beaches,43.676357,-79.293031
41,M4K,East Toronto,The Danforth West / Riverdale,43.679557,-79.352188
42,M4L,East Toronto,India Bazaar / The Beaches West,43.668999,-79.315572
43,M4M,East Toronto,Studio District,43.659526,-79.340923
44,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790

In [ ]:
Displaying number of entities.

In [84]:
subset.shape

(39, 5)