Importing pandas and getting the wikipedia page.

In [63]:
import pandas as pd

from IPython.display import IFrame
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
IFrame(url, width=800, height=350)

Transforming the above data in pandas dataframe.

In [64]:
data, = pd.read_html(url, match="Postal code", skiprows=1)
data.columns = ["Postal Code", "Borough", "Neighborhood"]
data.head()

  Postal Code           Borough                       Neighborhood
0         M2A      Not assigned                                NaN
1         M3A        North York                          Parkwoods
2         M4A        North York                   Victoria Village
3         M5A  Downtown Toronto         Regent Park / Harbourfront
4         M6A        North York  Lawrence Manor / Lawrence Heights

Ignoring the "Not assigned" cell and printing the first 5 cells of the dataset.

In [69]:
data = data[data["Borough"] != "Not assigned"]
data.head()

  Postal Code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

Displaying various neighbourhood for the same postal code

In [70]:
borough_func = lambda s: s.iloc[0]
neighborhood_func = lambda s: ", ".join(s)
agg_funcs = {"Borough": borough_func, "Neighborhood": neighborhood_func}
data_temp = data.groupby(by="Postal Code").aggregate(agg_funcs)
data_temp.head()

                 Borough                              Neighborhood
Postal Code
M1B          Scarborough                           Malvern / Rouge
M1C          Scarborough  Rouge Hill / Port Union / Highland Creek
M1E          Scarborough       Guildwood / Morningside / West Hill
M1G          Scarborough                                    Woburn
M1H          Scarborough                                 Cedarbrae

In [71]:
data = data_temp.reset_index()[data.columns]
data.head()

  Postal Code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [ ]:
Not assigned values.

In [72]:
data[data["Neighborhood"] == "Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [73]:
for (j, row) in data.iterrows():
    if row["Neighborhood"] == "Not assigned":
        borough = row["Borough"]
        print("Replace \"Not assigned\" => %s in row %i" % (borough, j))
        row["Neighborhood"] = borough

In [ ]:
Displaying values from 83 to 88 line.

In [74]:

data.iloc[83:88]

   Postal Code           Borough                                  Neighborhood
83         M6R      West Toronto                       Parkdale / Roncesvalles
84         M6S      West Toronto                           Runnymede / Swansea
85         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
86         M7R       Mississauga         Canada Post Gateway Processing Centre
87         M7Y      East Toronto         Business reply mail Processing CentrE

In [ ]:
Using shape to display rows and columns.

In [75]:
data.shape

(103, 3)