In [52]:
import numpy as np 

import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # used for display of latitude and longitude values for a certain address

import requests 
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib ,used for plotting graphs.
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup 

!conda install -c conda-forge folium=0.5.0 --yes 
import folium # used for maps

import csv # csv files

print('DONE')

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working...
Warning: 8 possible package resolutions (only showing differing packages):
  - anaconda/win-64::ca-certificates-2020.1.1-0, anaconda/win-64::certifi-2019.11.28-py37_0, anaconda/win-64::openssl-1.1.1d-he774522_4
  - anaconda/win-64::ca-certificates-2020.1.1-0, anaconda/win-64::certifi-2019.11.28-py37_0, defaults/win-64::openssl-1.1.1d-he774522_4
  - anaconda/win-64::certifi-2019.11.28-py37_0, anaconda/win-64::openssl-1.1.1d-he774522_4, defaults/win-64::ca-certificates-2020.1.1-0
  - anaconda/win-64::certifi-2019.11.28-py37_0, defaults/win-64::ca-certificates-2020.1.1-0, defaults/win-64::openssl-1.1.1d-he774522_4
  - anaconda/win-64::openssl-1.1.1d-he774522_4, defaults/win-64::ca-certificates-2020.1.1-0, defaults/win-64::certifi-2019.11.28-py37_0
  - defaults/win-64::ca-certificates-2020.1.1-0, defaults/win-64::certifi-2019.11.28-py37_0, defaults/win-64::openssl-1.1.1d-he774522_4
  - anaconda/win-64::ca-certificates-2020.1.1-0, anaconda/win-64::openssl-1.1.1d-he774522_4, defaults/win-64::certifi-2019.11.28-py37_0
  - anaconda/win-64::ca-certificates-2020.1.1-0, defaults/win-64::certifi-2019.11.28-py37_0, defaults/win-64::openssl-1.1.1d-he774522_4done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working...
Warning: 8 possible package resolutions (only showing differing packages):
  - anaconda/win-64::ca-certificates-2020.1.1-0, anaconda/win-64::certifi-2019.11.28-py37_0, anaconda/win-64::openssl-1.1.1d-he774522_4
  - anaconda/win-64::ca-certificates-2020.1.1-0, anaconda/win-64::openssl-1.1.1d-he774522_4, defaults/win-64::certifi-2019.11.28-py37_0
  - anaconda/win-64::certifi-2019.11.28-py37_0, anaconda/win-64::openssl-1.1.1d-he774522_4, defaults/win-64::ca-certificates-2020.1.1-0
  - anaconda/win-64::openssl-1.1.1d-he774522_4, defaults/win-64::ca-certificates-2020.1.1-0, defaults/win-64::certifi-2019.11.28-py37_0
  - anaconda/win-64::certifi-2019.11.28-py37_0, defaults/win-64::ca-certificates-2020.1.1-0, defaults/win-64::openssl-1.1.1d-he774522_4
  - defaults/win-64::ca-certificates-2020.1.1-0, defaults/win-64::certifi-2019.11.28-py37_0, defaults/win-64::openssl-1.1.1d-he774522_4
  - anaconda/win-64::ca-certificates-2020.1.1-0, anaconda/win-64::certifi-2019.11.28-py37_0, defaults/win-64::openssl-1.1.1d-he774522_4
  - anaconda/win-64::ca-certificates-2020.1.1-0, defaults/win-64::certifi-2019.11.28-py37_0, defaults/win-64::openssl-1.1.1d-he774522_4done

# All requested packages already installed.

DONE

In [54]:
website_url = requests.get('https://en.wikipedia.org/wiki/Demographics_of_New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable'})
#print(soup.prettify())

headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('BON2_POPULATION1.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

In [29]:
Pop_data=pd.read_csv('BON2_POPULATION1.csv')
Pop_data.drop(Pop_data.columns[[7,8,9,10,11]], axis=1,inplace=True)
print('Downloaded')

Downloaded

In [30]:
Pop_data.columns = Pop_data.columns.str.replace(' ', '')
Pop_data.columns = Pop_data.columns.str.replace('\'','')
Pop_data.rename(columns={'Borough':'persons_sq_mi','County':'persons_sq_km'}, inplace=True)
Pop_data

,NewYorkCitysfiveboroughsvte\r\n,Jurisdiction\r\n,Population\r\n,GrossDomesticProduct\r\n,Landarea\r\n,Density\r\n,persons_sq_mi,squarekm,persons/sq.mi,persons/km2\r\n
0,The Bronx\r\n,\r\n Bronx\r\n,"1,418,207\r\n",42.695\r\n,"30,100\r\n",42.10\r\n,109.04\r\n,NaN,NaN,NaN
1,Brooklyn\r\n,\r\n Kings\r\n,"2,559,903\r\n",91.559\r\n,"35,800\r\n",70.82\r\n,183.42\r\n,NaN,NaN,NaN
2,Manhattan\r\n,\r\n New York\r\n,"1,628,706\r\n",600.244\r\n,"368,500\r\n",22.83\r\n,59.13\r\n,NaN,NaN,NaN
3,Queens\r\n,\r\n Queens\r\n,"2,253,858\r\n",93.310\r\n,"41,400\r\n",108.53\r\n,281.09\r\n,NaN,NaN,NaN
4,Staten Island\r\n,\r\n Richmond\r\n,"476,143\r\n",14.514\r\n,"30,500\r\n",58.37\r\n,151.18\r\n,NaN,NaN,NaN
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547",NaN,NaN,NaN
6,State of New York,"19,453,561","1,731.910","89,000","47,214","122,284",412,NaN,NaN,NaN
7,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
Pop_data.rename(columns = {'NewYorkCitysfiveboroughsvte\r\n' : 'Borough',
                   'Jurisdiction\r\n':'County',
                   'Population\r\n':'Estimate_2017', 
                   'Landarea\r\n':'square_miles',
                    'Density\r\n':'square_km'}, inplace=True)
Pop_data

,Borough,County,Estimate_2017,GrossDomesticProduct\r\n,square_miles,square_km,persons_sq_mi,squarekm,persons/sq.mi,persons/km2\r\n
0,The Bronx\r\n,\r\n Bronx\r\n,"1,418,207\r\n",42.695\r\n,"30,100\r\n",42.10\r\n,109.04\r\n,NaN,NaN,NaN
1,Brooklyn\r\n,\r\n Kings\r\n,"2,559,903\r\n",91.559\r\n,"35,800\r\n",70.82\r\n,183.42\r\n,NaN,NaN,NaN
2,Manhattan\r\n,\r\n New York\r\n,"1,628,706\r\n",600.244\r\n,"368,500\r\n",22.83\r\n,59.13\r\n,NaN,NaN,NaN
3,Queens\r\n,\r\n Queens\r\n,"2,253,858\r\n",93.310\r\n,"41,400\r\n",108.53\r\n,281.09\r\n,NaN,NaN,NaN
4,Staten Island\r\n,\r\n Richmond\r\n,"476,143\r\n",14.514\r\n,"30,500\r\n",58.37\r\n,151.18\r\n,NaN,NaN,NaN
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547",NaN,NaN,NaN
6,State of New York,"19,453,561","1,731.910","89,000","47,214","122,284",412,NaN,NaN,NaN
7,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
Pop_data = Pop_data.fillna('')
Pop_data

,Borough,County,Estimate_2017,GrossDomesticProduct\r\n,square_miles,square_km,persons_sq_mi,squarekm,persons/sq.mi,persons/km2\r\n
0,The Bronx\r\n,\r\n Bronx\r\n,"1,418,207\r\n",42.695\r\n,"30,100\r\n",42.10\r\n,109.04\r\n,,,
1,Brooklyn\r\n,\r\n Kings\r\n,"2,559,903\r\n",91.559\r\n,"35,800\r\n",70.82\r\n,183.42\r\n,,,
2,Manhattan\r\n,\r\n New York\r\n,"1,628,706\r\n",600.244\r\n,"368,500\r\n",22.83\r\n,59.13\r\n,,,
3,Queens\r\n,\r\n Queens\r\n,"2,253,858\r\n",93.310\r\n,"41,400\r\n",108.53\r\n,281.09\r\n,,,
4,Staten Island\r\n,\r\n Richmond\r\n,"476,143\r\n",14.514\r\n,"30,500\r\n",58.37\r\n,151.18\r\n,,,
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547",,,
6,State of New York,"19,453,561","1,731.910","89,000","47,214","122,284",412,,,
7,Sources:[14] and see individual borough articl...,,,,,,,,,

In [33]:
i = Pop_data[((Pop_data.County == 'Sources: [2] and see individual borough articles'))].index
Pop_data.drop(i)

,Borough,County,Estimate_2017,GrossDomesticProduct\r\n,square_miles,square_km,persons_sq_mi,squarekm,persons/sq.mi,persons/km2\r\n
0,The Bronx\r\n,\r\n Bronx\r\n,"1,418,207\r\n",42.695\r\n,"30,100\r\n",42.10\r\n,109.04\r\n,,,
1,Brooklyn\r\n,\r\n Kings\r\n,"2,559,903\r\n",91.559\r\n,"35,800\r\n",70.82\r\n,183.42\r\n,,,
2,Manhattan\r\n,\r\n New York\r\n,"1,628,706\r\n",600.244\r\n,"368,500\r\n",22.83\r\n,59.13\r\n,,,
3,Queens\r\n,\r\n Queens\r\n,"2,253,858\r\n",93.310\r\n,"41,400\r\n",108.53\r\n,281.09\r\n,,,
4,Staten Island\r\n,\r\n Richmond\r\n,"476,143\r\n",14.514\r\n,"30,500\r\n",58.37\r\n,151.18\r\n,,,
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547",,,
6,State of New York,"19,453,561","1,731.910","89,000","47,214","122,284",412,,,
7,Sources:[14] and see individual borough articl...,,,,,,,,,

In [45]:
Pop_data.to_csv('BON2_POPULATION.csv',index=False)

In [46]:
website_url = requests.get('https://en.wikipedia.org/wiki/New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
#print(soup)
#print(soup.prettify())
table = soup.find('table',{'class':'wikitable'})
#print(soup.prettify())
#print(table)

headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('NYC_DEMO.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

In [47]:
Demo_data=pd.read_csv('NYC_DEMO.csv')
print('Data downloaded!')

Data downloaded!

In [48]:
Demo_data

,New York City's five boroughsvte\r\n,Jurisdiction\r\n,Population\r\n,Gross Domestic Product\r\n,Land area\r\n,Density\r\n,Borough,County,Estimate (2019)[152],billions(US$)[153],per capita(US$),square miles,squarekm,persons / sq. mi,persons /km2\r\n
0,The Bronx\r\n,\r\n Bronx\r\n,"1,418,207\r\n",42.695\r\n,"30,100\r\n",42.10\r\n,109.04\r\n,"33,867\r\n","13,006\r\n",NaN,NaN,NaN,NaN,NaN,NaN
1,Brooklyn\r\n,\r\n Kings\r\n,"2,559,903\r\n",91.559\r\n,"35,800\r\n",70.82\r\n,183.42\r\n,"36,147\r\n","13,957\r\n",NaN,NaN,NaN,NaN,NaN,NaN
2,Manhattan\r\n,\r\n New York\r\n,"1,628,706\r\n",600.244\r\n,"368,500\r\n",22.83\r\n,59.13\r\n,"71,341\r\n","27,544\r\n",NaN,NaN,NaN,NaN,NaN,NaN
3,Queens\r\n,\r\n Queens\r\n,"2,253,858\r\n",93.310\r\n,"41,400\r\n",108.53\r\n,281.09\r\n,"20,767\r\n","8,018\r\n",NaN,NaN,NaN,NaN,NaN,NaN
4,Staten Island\r\n,\r\n Richmond\r\n,"476,143\r\n",14.514\r\n,"30,500\r\n",58.37\r\n,151.18\r\n,"8,157\r\n","3,150\r\n",NaN,NaN,NaN,NaN,NaN,NaN
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547","10,636\r\n",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,State of New York,"19,453,561","1,731.910","89,000","47,214","122,284",412,159\r\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Sources:[154] and see individual borough artic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
Demo_data.columns

Index(['New York City's five boroughsvte\r\n', 'Jurisdiction\r\n',
       'Population\r\n', 'Gross Domestic Product\r\n', 'Land area\r\n',
       'Density\r\n', 'Borough', 'County', 'Estimate (2019)[152]',
       'billions(US$)[153]', 'per capita(US$)', 'square miles', 'squarekm',
       'persons / sq. mi', 'persons /km2\r\n'],
      dtype='object')

In [50]:

Demo_data.rename(columns = {'2010[237]' : '2010',
                   '1990[239]':'1990',
                   '1970[239]':'1970', 
                   '1940[239]\n':'1940',
                    }, inplace=True)
Demo_data

,New York City's five boroughsvte\r\n,Jurisdiction\r\n,Population\r\n,Gross Domestic Product\r\n,Land area\r\n,Density\r\n,Borough,County,Estimate (2019)[152],billions(US$)[153],per capita(US$),square miles,squarekm,persons / sq. mi,persons /km2\r\n
0,The Bronx\r\n,\r\n Bronx\r\n,"1,418,207\r\n",42.695\r\n,"30,100\r\n",42.10\r\n,109.04\r\n,"33,867\r\n","13,006\r\n",NaN,NaN,NaN,NaN,NaN,NaN
1,Brooklyn\r\n,\r\n Kings\r\n,"2,559,903\r\n",91.559\r\n,"35,800\r\n",70.82\r\n,183.42\r\n,"36,147\r\n","13,957\r\n",NaN,NaN,NaN,NaN,NaN,NaN
2,Manhattan\r\n,\r\n New York\r\n,"1,628,706\r\n",600.244\r\n,"368,500\r\n",22.83\r\n,59.13\r\n,"71,341\r\n","27,544\r\n",NaN,NaN,NaN,NaN,NaN,NaN
3,Queens\r\n,\r\n Queens\r\n,"2,253,858\r\n",93.310\r\n,"41,400\r\n",108.53\r\n,281.09\r\n,"20,767\r\n","8,018\r\n",NaN,NaN,NaN,NaN,NaN,NaN
4,Staten Island\r\n,\r\n Richmond\r\n,"476,143\r\n",14.514\r\n,"30,500\r\n",58.37\r\n,151.18\r\n,"8,157\r\n","3,150\r\n",NaN,NaN,NaN,NaN,NaN,NaN
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547","10,636\r\n",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,State of New York,"19,453,561","1,731.910","89,000","47,214","122,284",412,159\r\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Sources:[154] and see individual borough artic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
Demo_data.to_csv('BON2_DEMOGRAPHICS.csv',index=False)